<%- include('../partials/header'); -%>

<div class="container text-center">

    <ul>
        <li>Date: <%= budget.date %></li>
        <li>Name: <%= budget.name %></li>
        <li>From: <%= budget.from %></li>
        <li>Amount: <%= budget.amount %></li>
        <!-- <li><%= budget.tags %></li> -->
    </ul>

</div>

<%- include('../partials/footer'); -%>
